:root {
    --black: #0C120C;
    --grey: #6D7275;
    --white: #FFFFFB;
    --red: #FE654F;
    --yellow: #FFC145;
    --green: #98D650;
    --blue: #3193e4;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 4px;
}

html {
    background-color: var(--white);
}

h1 {
    font-size: 36pt;
    font-weight: 600;
}

h2 {
    font-size: 24pt;
    font-weight: 400;
    padding: 12px;
}

h3 {
    font-size: 18pt;
    font-weight: 300;
    padding: 12px;
}

header {
    min-height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: solid 1px var(--black); */
}

/* section for highscores/time left/score */
.subheader {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.subheader-item{
    min-width: 30%;
    padding: 8px;

    font-size: 16pt;
    text-align: center;

    border: solid 2px var(--grey);
    border-radius: 8px;
}

.start-state{
    display: flex;
    justify-content: center;
}

/* styles answer selections */
.answer-btn {
    background: var(--white);

    text-align: left;

    color: var(--black);

    padding: 10px;
    margin: 10px 8px;
    width: 90%;

    border: 2px solid var(--blue);
    border-radius: 8px;

    cursor: pointer;

    transition: all 0.3s;
}

/* answers hover style when not disabled */
.answer-btn:hover:not([disabled]){
    background: var(--blue);
    color: var(--white);
}

/* answers style when disabled */
.answer-btn:disabled{
    cursor: default;
}

/* this class gets added to correct answers */
.correct {
    background-color: var(--green);

    border: 2px solid var(--green);
    border-radius: 8px;
}

/* this class gets added to incorrect answers */
.incorrect {
    background: var(--red);

    border: 2px solid var(--red);
    border-radius: 8px;
}

.highscore-entry {
    background: var(--white);

    text-align: left;

    color: var(--black);

    padding: 10px;
    margin: 10px 8px;
    width: 90%;

    border: 2px solid var(--blue);
    border-radius: 8px;
}

.highscore-entry{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.highscore-entry-data{
    padding: 0px 8px;
    font-size: 14pt;
    font-weight: 400;
    text-align: left;

    width: 33.33%;

    border-left: dotted 2px var(--blue);
}

/* contains most content */
#highscore-board,
#score-card,
#quiz {
    display: none;
    flex-direction: column;

    margin: auto;
    margin-top: 16px;
    width: 90%;

    border: solid 2px #dddddd;
    border-radius: 8px;
}

#highscores-header,
#quiz-results,
#question{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 8px;
}

/* Container for question answers */
#answer-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#restart-btn2,
#restart-btn,
#next-btn{
    background: var(--white);

    text-align: center;

    color: var(--black);

    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90%;

    border: 2px solid var(--grey);
    border-radius: 8px;

    cursor: pointer;

    transition: all 0.15s;
}

#restart-btn2:hover,
#restart-btn:hover,
#next-btn:hover{
    background: var(--grey);
    color: var(--white);
}

#restart-btn{
    display: none;
}

#highscores-btn{
    background: var(--white);

    text-align: center;

    color: var(--black);

    border: 2px solid var(--grey);
    border-radius: 8px;

    cursor: pointer;

    transition: all 0.15s;
}

#highscores-btn:hover{
    background: var(--grey);
    color: var(--white);
}

#start-btn{
    padding: 16px;
    margin: 16px;

    width: 80%;

    font-size: 24pt;

    background: var(--white);

    text-align: center;

    color: var(--blue);

    border: 2px solid var(--blue);
    border-radius: 8px;

    cursor: pointer;

    transition: all 0.15s;
}

#start-btn:hover{
    background: var(--blue);
    color: var(--white);
}

#timer{
    border-color: var(--green);
}


#score-submit{
    display: flex;
    justify-content: center;
}

#score-submit input{
    padding: 8px;
    border-radius: 8px;
}

#initials-text-input{
    border: solid 2px var(--grey);

    transition: all 0.15s;
}

#initials-text-input:hover{
    border-color: var(--black);
}

#initials-submit-input{
    background-color: var(--white);

    border: solid 2px var(--blue);

    transition: all 0.15s;
}

#initials-submit-input:hover{
    cursor: pointer;
    color: var(--white);
    background-color: var(--blue);
}

#submission-message{
    display: none;
    text-align: center;
    margin: auto;

    color: var(--grey);
}

#highscores{
    display: flex;
    flex-direction: column;
    align-items: center;
}
